.mat-sidenav-container {
    height: 100%;
}

.h-9-0 {
  height: 90%;
}

.h-8-5 {
  height: 85%;
}

.min-h-64 {
  min-height: 4rem;
}

::ng-deep .mat-tooltip {
  font-size: 13px !important;
}

:host ::ng-deep .p-panel .p-panel-header {
  background-color: #1B3668;
  color: #fff;
  border: 0 none;
  border-top-left-radius: 4px;
  border-top-right-raduis: 4px;  
}

:host ::ng-deep .p-panel-header:hover {
  @apply bg-sky-600 text-white transition duration-75 rounded-lg;
}

:host ::ng-deep .p-panel .p-panel-header .p-panel-header-icon {
  color: #fff;
}

:host ::ng-deep .p-panel .p-panel-content {
  padding: 0;
}

:host ::ng-deep .p-panel-content {
  background-color: #1B3668;
  border-color: #1B3668;
}

.shadow-rigth {
  box-shadow: 5px 0 6px -2px rgba(59, 130, 246, 0.7);
}
