<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <p-toast></p-toast>
  <div class="w-full bg-slate-50 rounded-lg shadow-xl shadow-sky-700 md:mt-0 sm:max-w-2xl sm:p-4 ">
    <form [formGroup]="formGroup" (ngSubmit)="login2FA()">
      <p class="my-4 mx-4 font-light text-center text-gray-500 sm:text-xl">
        Su inicio de sesión está protegido con una aplicación de autenticación. Introduzca su código de autorización a continuación.
      </p>
      <div class="flex flex-col">
        <div class="my-4 mx-4">
          <input type="text" id="twoFactorCode" pAutoFocus [autofocus]="true" formControlName="TwoFactorCode" 
              placeholder="Ingrese Código" class="rounded-md border-0 border-neutral-100 bg-neutral-100 py-4 px-8 w-full 
                    text-lg text-center text-gray-900 shadow-sm placeholder:text-gray-400
                    focus:bg-white focus:outline-none focus:ring focus:border-blue-500
                    sm:leading-6" required aria-required="true" />
        </div>
        <div class="my-4 mx-4">
          <p-checkbox formControlName="RememberMachine" [binary]="true" inputId="rememberMachine" class="me-3"></p-checkbox>
          <label for="rememberMachine">Recordar este dispositivo</label>
        </div>
        <div class="text-center mx-4">
          <button pButton type="submit" class="p-button-beezky p-button-raised text-xl w-full" 
                icon="pi pi-key" label="Ingresar" title="Validar código" [loading]="loading"></button>
        </div>
      </div>
      <p class="my-8 mx-4 text-sm text-center font-light text-gray-500">
        ¿No tienes acceso a tu dispositivo de autenticación? Puedes <a target="_blank" class="font-medium text-primary-600 hover:underline">iniciar sesión con un código de recuperación.</a>
      </p>
    </form>
  </div>
</div>